$project-colors: (
    color-Black: #000000,
    color-White: #ffffff,
    color-Gray: #2d2f34,
    color-Gray-medium: #9196a7,
    color-Gray-light: #f1f2f6,
    color-Red: #ff0000,
    color-Orange: #ff6700,
    color-Yellow: #fdc921,
    color-Blue: #09428e,
    color-Blue-dark: #1C274C,
    color-Blue-light: #0496ff,
    color-Green: #388659,
);

:root {

    @each $color-name,
    $color-value in $project-colors {
        --#{$color-name}: #{$color-value};
    }
}

$font-family-base: 'Montserrat', sans-serif;
$font-size-base: 16px;
$font-weight-base: 500;
$font-line-height: 1.25;
$main-color: var(--color-Blue);

* {
    box-sizing: border-box;
}

body,
button,
input,
textarea {
    margin: 0;
    border: 0;
    outline: none;
}

body {
    color: $main-color;
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: $font-line-height;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

#root {
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

input[type='text'] {
    line-height: 1;
    font-weight: $font-weight-base;
    font-family: $font-family-base;
    color: var(--color-Blue-dark);
}

.clip-base {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}